html, body { margin: 0; min-height: 100%; }
body{
    padding: 1rem;
    color: white;
    font-family: sans-serif;
    text-align: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
        45deg,
        rgb(0, 102, 185) 0%, 
        rgb(17, 76, 153) 33%, 
        rgb(97, 41, 161)  66%, 
        rgb(133, 46, 155) 100%
    );
    animation: BGcolor 15s ease-in-out infinite;
}

@keyframes BGcolor{
    0%{background-position:top left}
    25%{background-position:top right}
    50%{background-position:bottom right}
    75%{background-position:bottom left}
    100%{background-position:top left}
}

p{
    font-size: 20px;
}

.media{
    color: aqua;
    text-decoration: none;
    font-weight: bold;
}